#mainPlayArea {
    background-image: url("https://www.esa.int/var/esa/storage/images/esa_multimedia/videos/2020/04/it_can_be_done._-_an_earth_day_message/21972204-3-eng-GB/It_can_be_done._-_an_Earth_Day_message_pillars.jpg");
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

#player-controlled-shooter {
    width: 60px;
    position: relative;
    left: 20px;
    top: 180px;
    transition: all 0.4s;
}

.laser {
    width: 20px;
    height: 20px;
    position: absolute;
}